.about-container {
  padding: 50px 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  margin: 0;
}

.about-text h2 span {
  color: rgb(255, 0, 255);
}

.about-text p {
  padding: 0 30px;
  border-left: 3px solid purple;
}

.about-text button {
  margin: 15px 15px 0 0;
  background: purple;
  border-radius: 10px;
  transition: 0.5s;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
}

.about-text button a {
  text-decoration: none;
  color: white;
}

.about-text button:hover {
  background: rgb(190, 0, 190);
}

.profile-photo-container {
  width: 35%; /* Adjust the width as needed */
}

.profile-photo {
  background: rgb(128, 0, 128, 0.1);
  width: 100%;
  border: 5px solid rgba(128, 0, 128, 0.15);
  border-radius: 50%; /* Make the image round */
}

.profile-photo-container {
  width: 40%;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
    text-align: center;
  }
  .about-container {
    padding: 50px 0;
  }
  .about-text button {
    padding: 8px;
  }
  .about-text p {
    border-right: 3px solid purple;
  }
  .profile-photo-container {
    width: 60%;
  }
}
