.header {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 12, 50, 1) 60%,
    rgba(50, 0, 50, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it appears above other content */
  width: 100%; /* Ensure the header spans the full width */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Add a shadow for visual distinction */
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 5px 0;
}

.nav .logo {
  margin: 0;
}

.header h1 {
  color: rgb(255, 0, 255);
  padding: 0 20px;
}

.nav-list {
  list-style-type: none;
  padding: 0 20px;
  display: flex;
}

.nav-item {
  padding: 0 15px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}
.nav-link:hover {
  color: rgb(255, 0, 255);
}

.nav-item .active {
  border-bottom: 4px groove rgb(255, 0, 255);
}

.nav-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 20px;
  height: 2px;
  margin: 2px 0;
  background-color: rgb(255, 255, 255);
  margin-right: 20px;
}

.nav-open .nav-toggle .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.nav-open .nav-toggle .bar:nth-child(2) {
  opacity: 0;
}

.nav-open .nav-toggle .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 768px) {
  .nav-toggle {
    display: flex;
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    width: 100%;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 12, 50, 1) 60%,
      rgba(50, 0, 50, 1) 100%
    );
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a shadow for visual distinction */
    border-radius: 20px;
  }
  .nav-open .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .nav-item {
    margin: 20px 0;
    padding: 0;
  }
}
