.portfolio {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 12, 50, 1) 60%,
    rgba(50, 0, 50, 1) 100%
  );
  color: #fff;
}

main {
  padding: 0 80px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: purple;
  border: none;
  cursor: pointer;
  font-size: 40px;
  z-index: 1000;
  background: none;
}

.scroll-to-top:hover {
  color: rgb(255, 0, 255);
}

@media (max-width: 1024px) {
  main {
    padding: 0 60px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 40px;
  }
}
