.portfolio {
  background: linear-gradient(
    90deg,
    rgb(0, 4, 18) 0%,
    rgba(0, 12, 50, 1) 60%,
    rgb(44, 0, 44) 120%
  );
  color: #fff;
}

main {
  padding: 0 90px;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

p {
  font-size: 25px;
}

button {
  font-size: 20px;
}

main a {
  font-size: 25px;
}

header a {
  font-size: 20px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: purple;
  border: none;
  cursor: pointer;
  font-size: 40px;
  z-index: 1000;
  background: none;
}

.scroll-to-top:hover {
  color: rgb(255, 0, 255);
}

@media (max-width: 1024px) {
  main {
    padding: 0 60px;
  }
  .scroll-to-top {
    font-size: 35px;
  }
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 25px;
  }

  h4 {
    font-size: 20px;
  }

  p {
    font-size: 20px;
  }

  button {
    font-size: 15px;
  }

  main a {
    font-size: 20px;
  }

  header a {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  main {
    padding: 0 20px;
    text-align: center;
  }
  .scroll-to-top {
    font-size: 30px;
  }
  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 15px;
  }

  p {
    font-size: 15px;
  }

  button {
    font-size: 10px;
  }

  main a {
    font-size: 15px;
  }

  header a {
    font-size: 15px;
  }
}
