.project-section {
  padding: 50px 0;
}

.project-section h2 {
  text-align: center;
  color: rgb(255, 0, 255);
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
}

.project-card {
  border-radius: 50px;
  width: 48%;
  padding: 30px;
  box-sizing: border-box;
  border-left: 5px solid purple;
  border-bottom: 5px solid purple;
  transition: 0.5s;
}

.project-card:hover {
  transform: scale(1.01);
  color: rgb(255, 0, 255);
}

.project-card .description,
.project-card .technologies {
  color: #fff;
}

.project-card .technologies {
  color: #fff;
}

.project-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: rgb(255, 0, 255);
}

.project-links a:hover {
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .project-card {
    width: 47%;
  }
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }
}
